<h1>Test technique Fretly</h1>

<h2>Reproduire ce schéma</h2>
<div>
  <img width="600" src="/assets/chart.png" alt="" />
</div>

<b>Conditions:</b>
<ol>
  <li>Aucun paquet additionnel à installer.</li>
  <li>Aucune modification au niveau des modules (côté front).</li>
  <li>
    La lib pour le graph est:
    <a href="https://echarts.apache.org/en/index.html">Apache ECharts</a>
  </li>
  <li>
    La configuration du graph doit être envoyé depuis une nouvelle route que
    vous ajouterez au backend
  </li>
  <li>
    Utilser cette base de données PostgresSQL:
    <i
      >postgres://dlhvqmye:l6QGfUOWi1YDEaytpXjItXlkNx_WDY-L@snuffleupagus.db.elephantsql.com/dlhvqmye</i
    >
  </li>
  <li>
    La connection est a effectuer avec ce paquet:
    <a href="https://www.npmjs.com/package/pg">node-postgres</a>
  </li>
  <li>Appliquer les principes de clean code</li>
</ol>

<b>Schéma de la base de données:</b>
<div>
  <img src="/assets/db.png" alt="" />
</div>

<b>Couleurs:</b>
<div>
  <div class="round" style="background: #b38afa"></div>
  #b38afa
</div>
<div>
  <div class="round" style="background: #2f68c7"></div>
  #2f68c7
</div>
<div>
  <div class="round" style="background: #ff991f"></div>
  #ff991f
</div>
